<p style="color: green"><%= notice %></p>

  <p>
    <strong>Payment proof:</strong>
    <% if @book_payment.payment_proof.attached? %>
      <%= image_tag @book_payment.payment_proof, width: "200px" %>
      <% end%>
  </p>

  <p>
    <strong>Is valid payment:</strong>
    <%= book_payment.is_valid_payment %>
  </p>

<div>
  <%= link_to "Edit this book payment", edit_book_payment_path(@book_payment) %> |
  <%= link_to "Back to book payments", book_payments_path %>

  <%= button_to "Destroy this book payment", @book_payment, method: :delete %>
</div>
